body, html {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	font-family: 'Nunito', sans-serif;
}

header {
	display: flex;
	flex-direction: row;
	background-color: #4D2416;
	color: #F3DFC0;
	align-items: center;
	justify-content: space-between;
	padding: 15px 30px;
}

.logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	font-size: 45px;
}

.logo img {
	width: 65px;
}

nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	gap: 40px;
}

nav a {
	color: #F3DFC0;
	text-decoration: none;
}

.user-actions {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	gap: 30px;
}

.user-actions img {
	width: 40px;
}

nav a:hover {
	text-shadow: 0 0 10px #F3DFC0;
}

.user-actions img:hover {
	scale: 1.2;
	transition: all 0.3s ease;
}

main {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}

.configuration {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 20px 30px;
	background-color: #6e3d2c;
	height: fit-content;
	min-height: 100%;
}

.configuration-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 40px;
}

.configuration-items {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.configuration-items span {
	font-size: 26px;
	font-weight: bold;
	color: #F3DFC0;
}

.configuration-items a {
	font-size: 20px;
	color: #F3DFC0;
	text-decoration: none;
	padding: 10px 0;
}

.shop {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	padding: 20px;
	width: 100%;
}

.item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 2px solid #8b5948;
	border-radius: 15px;
	padding: 15px;
}

.item img {
	width: 200px;
}

.extra-info{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.extra-info .name{
	font-size: 20px;
	font-weight: bold;
	color: #8b5948;
}

.extra-info .price{
	font-size: 20px;
	font-weight: bold;
	color: #c6917f;
}

.extra-info button{
	padding: 10px 20px;
	border: none;
	background-color: #7d3917;
	border-radius: 15px;
	font-size: 20px;
	font-weight: bold;
}

.extra-info button img{
	width: 40px;
}

