<!DOCTYPE html>
<html>
<head>
    <title>Countries</title>
</head>
<body>
    <h1>Top 5 Travel Destinations</h1>

    <ul>
        <li>Japan; contact: "blablabla"</li>
        <li>Italy; contact: "blablabla"</li>
        <li>Canada; contact: "blablabla"</li>
        <li>Norway; contact: "blablabla"</li>
        <li>Australia; contact: "blablabla"</li>
    </ul>

    <a href="{{ url_for('home') }}">
        <button>Home</button>
    </a>

    <a href="{{ url_for('contact') }}">
        <button>Contact</button>
    </a>
</body>
</html>